<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World Template</title>
</head>
<body>

    <form action="http://127.0.0.1:8000/bookmark">
        <button type="submit" class="btm_image" id="img_btn"><img src="C:\Users\Cyan ovo\workspace\Github\Django\p_project\templates\images\button2.png"/> Home</button>
    </form>

    <h2>Patient 1 information</h2>

</body>
</html>